* {
    margin: 0;
}

body {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
    background-color: #D6E2F0;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 320px;
    min-width: 320px;
    padding: 16px;
    box-sizing: border-box;

    margin: auto;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 15px 10px rgb(0 0 0 / 55%);
    box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 5%);
}

img {
    width: 100%;
    border-radius: 10px;
}

p {
    text-align: center;
}

.title {
    font-size: 22px;
    font-weight: 700;

    padding: 24px 5px 0;
    line-height: 28px;

    color: #1F3251;
}

.desc {
    font-size: 15px;
    font-weight: 400;

    padding: 16px 15px 24px;
    letter-spacing: 0.2px;
    line-height: 19px;

    color: #7B879D;
}

.attribution {
    padding-top: 15px;
    color: #7B879D;
}
